<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Recipe Book</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse show" id="navbarNav">
    <ul class="nav navbar-nav">
      <li><a href="#" (click)="setFeature('recipe')">Recipe</a></li>
      <li><a href="#" (click)="setFeature('shopping')">Shopping List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <select name="dog-names" id="dog-names">
        <option value="rigatoni">Rigatoni</option>
        <option value="dave">Dave</option>
        <option value="pumpernickel">Pumpernickel</option>
        <option value="reeses">Reeses</option>
      </select>
    </ul>
  </div>
</nav>
